:root{
    --time_button_color: hsl(#000000, 50%, 50%);
}

#num_of_players {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(110,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

.start {
    border: 2px solid black;
    border-radius: 20px;
    background-color: lightblue;
    width: 75vw;
    height: auto;
    text-align: center;
    margin: auto;
    display: block;
    padding: 10;
    margin-top: 55;
    box-shadow: 5px 10px 10px;
    padding: 10px;
}

label {
    font-size: large;
    font-weight: bold; 
}

input#num_of_players{
    width: 100%;
    height: 50px;
    margin-left: 10px 0;
    margin-top: 10;
    margin-bottom: 10;
    border-radius: 100px;
    border: 1px solid white;
}

ul {
    text-align: left;
}

#time_limit {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    overflow: auto;
    padding: 10px;
}
div#time_limit {
    list-style: none;
}

input.time {
    /* Makes Radio buttons invisible */
    visibility: hidden;
}

input.time:checked + label {
    transition: 250ms ease-in-out;
    background-color: lime;
    border: 2px solid lime;
}

label {
    padding: 5px 15px;
    
}

div.time {
    background: none;
    border-radius: 15px;
    border: 3px solid var(--time_button_color);
    margin: 10;
    color: var(--time_button_color);
    font-weight: bold;
    font-size: large;
    padding: 5px 15px;
    transition: 250ms ease-in-out;
}

div.time > label {
    border-radius: 100px;
    border: 3px solid red;
}

div.time:hover {
    background-color: red;
    color: white;
    transform: translateY(-5px);
}
