:root{
    --time_button_color: hsl(#000000, 50%, 50%);
}

body {
    background-color: pink;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav {
    background-color: aliceblue;
    padding: 10px;
    display: flex;
}

nav > a {
    color: gray;
    font-size: large;
    font-weight: bold;
    /* margin: 10px; */
    text-decoration: none;
    transition: 250ms ease-in-out;
    padding: 10px;
}

nav > a:hover {
    transform: translateY(-7px);
}

nav > a.current {
    color: red;
}

.gameTitle {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 2px black;
    color: white;
}

.start {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: lightblue;
    width: 75vw;
    height: 60vh;
    text-align: center;
    margin: auto;
    display: block;
    padding: 10;
    margin-top: 55;
    box-shadow: 5px 10px 10px;
}

.header {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#num_of_players {
    box-sizing: border-box;
}

label {
    font-size: large;
    font-weight: bold; 
}

input#num_of_players{
    width: 100%;
    height: 50px;
    margin-left: 10px 0;
    margin-top: 10;
    margin-bottom: 10;
    border-radius: 100px;
    border: 1px solid white;
}

ul {
    text-align: left;
}

#time_limit {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}

/* button.time {
    background: none;
    border-radius: 15px;
    border: 3px solid var(--time_button_color);
    margin: 10;
    color: var(--time_button_color);
    font-weight: bold;
    font-size: large;
    padding: 5px 15px;
    transition: 250ms ease-in-out;
}

button.time:hover {
    background-color: var(--time_button_color);
    color: white;
    transform: translateY(-5px);
} */

div#time_limit {
    list-style: none;
}

input.time {
    /* Makes Radio buttons invisible */
    visibility: hidden;
}

input.time:checked + label {
    background-color: lime;
}

label {
    padding: 5px 15px;
    border-radius: 100px;
}

div.time {
    background: none;
    border-radius: 15px;
    border: 3px solid var(--time_button_color);
    margin: 10;
    color: var(--time_button_color);
    font-weight: bold;
    font-size: large;
    padding: 5px 15px;
    transition: 250ms ease-in-out;
}

div.time:hover {
    background-color: var(--time_button_color);
    color: white;
    transform: translateY(-5px);
}
